 {% extends "blog/base.html"%}

{% block content %}
   {% comment %} {% for student in students %}
    {% if student.is_student_approve %}
      <h5>{{ student }}<h5>
      <hr></hr>
      {{ student_reports[{{ forloop.counter0 }}]}}
    {% endif %}
    {% empty %}
      <h5>Empty Students</h5>
  {% endfor %} {% endcomment %}
  <body style="margin-top:5%">
    <div class="mt-4"></div>
    {% for report in student_reports %}
      {% if report.student.is_student_approve %}
        {% if report.reports %}
          
          <form action="{% url 'approve_student_all' report.student.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary float-right mb-3">Approve All</button>
          </form>
          <h5>{{ report.student.last_name|upper }}, {{ report.student.first_name|upper }} - {{ report.student|upper }}</h5>
          
          <table class="table table-hover table-bordered table-light">
            <thead class="text-center">
              <tr>
                <th scope="col">Task Started</th>
                <th scope="col">Task Ended</th>
                <th scope="col">Task </th>
                <th scope="col">Type of Task</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
            {% for task in report.reports %}
              <tr>
                <td>{{task.start_time}}</td>
                <td>{{task.end_time}}</td>
                <td>{{task.task}}</td>
                <td>{{task.task_type}}</td>
                <td>
                <form action="{% url 'approve_student_task' report.student.id task.id %}" method="POST" class="float d-inline">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-primary btn-block">Approve</button>
                </form>
                </td>
              </tr>       
              {% endfor %}     
            </tbody>
          </table>
        {% comment %} {% else %} {% endcomment %}
          {% comment %} <h5 class="text-center mt-2">{{ report.student}} has no records.</h5> {% endcomment %}
        {% endif %}
      {% endif %}
      {% empty %}
        <div class=" alert alert-warning alert-dismissible fade show" style="width:50%; margin-left:25%;" role="alert">
 
                <button style ="position: absolute;
                top: 8px;
                right: 16px; " type="button" class= "btn btn-outline-danger " data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></button>
                
                <strong ><h4 class=" text-center">No Reports Yet </h4></strong> 
    </div>  
    {% endfor %}


{% comment %} <div class="accordion" id="accordionExample">
  {% for student in students %}
    {% if student.is_student_approve %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{student.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{student.id}}" aria-expanded="false" aria-controls="collapseTwo">
            {{ student }}
          </button>
        </h2>
        <div id="{{student.id}}" class="accordion-collapse collapse" aria-labelledby="{{student.id}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    {% endif %}
    {% empty %}
      <h5>Empty Students</h5>
  {% endfor %}
</div> {% endcomment %}
</body>
{% endblock content%}