 {% extends "blog/base.html"%}

{% block content %}

        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for student in students %}
                    {% if not student.is_student_approve %}
                        <tr>
                            <th>{{ student.first_name }}</th>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.username }}</td>
                            <td>
                                <form action="{% url 'approve_student' student.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" class="btn btn-primary">
                                        Approve
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
  

{% endblock content%}