{% extends "blog/base.html"%}

{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
</head>

<div style="margin-top: 8%">
  {% comment %} <h3 class="mb-n5">Students</h3> {% endcomment %}

  <h3></h3>
  <table id="student" class="table table-bordered dt-responsive">
    <thead class="text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">School</th>
          <th scope="col">Dashboard</th>
        </tr>
      </thead>
      <tbody class="text-center">   
        {% for student in students %}
          {% if student.is_student_approve %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.school_name }}</td>
                <td>
                  <form action="{% url 'view_employee_student_dashboard' student.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">View Dashboard</button>
                  </form>
                </td>
            </tr>
          {% endif %}
          {% comment %} {% empty %}
          <h5 class="text-center mt-2">Empty students.</h5> {% endcomment %}
        {% endfor %}
      </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
      $('#student').DataTable( {
          "pagingType": "full_numbers",
          "searching": true,
          "ordering": false,
          "lengthChange": false,
      } );
  });
</script>
{% endblock content%} 