 {% extends "blog/base.html"%}

{% block content %}

        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for student in students %}
                    {% if student.is_student_approve == None %}
                        <tr>
                            <th>{{ student.first_name }}</th>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.username }}</td>
                            <td>
                                <button type="button" class="btn btn-primary">Approve</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
  

{% endblock content%}