{%extends "blog/base.html"%}
<!--STUDENT DASHBOARD-->

{%block content%}



{% if user.is_authenticated %}
  <div class="container mt-5">
  <div class="container" style="margin-top: 8%">
      <div class="row">
        <div class="col">
          <a class="nav-item nav-link" >
            <h4>{{student}}'s Dashboard </h4>
        </a>
        </div>
        <div class="col">
          <a href="{% url 'section' %}" style="text-decoration: none;">
              <button class="btn btn-info bg-steel float-right">Back Dashboard</button>
          </a>
        </div>
      </div>
    </div>
  </div>
{%endif%}


<!---->


<div class="container">
<div class="card" >

  <div class="card-header navbar-dark bg-steel">
    <div style="text-align: center; color:white;">Overall Status of OJT</div>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">Work Time Spent</h5>
    <p class="card-text" style="text-align: center;">Represented by Graph</p>
    <div class="d-grid gap-2 col-6 mx-auto" >
    <button data-toggle="modal" data-target=".bd-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Bar Chart
</button>
<button data-toggle="modal" data-target=".pie-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Pie Chart
</button>
<button data-toggle="modal" data-target=".line-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Line Chart
</button>
</div>
  </div>




  <div class="card">

  <div class="card-header navbar-dark bg-steel">
    <div style="text-align: center; color:white;">Latest Work Time Spent</div>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">Essential and Non-Essential Tasks Done on {{ latest_date }}</h5>
    <p class="card-text" style="text-align: center;">Represented by Graph</p>
    <div class="d-grid gap-2 col-6 mx-auto" >
    <button data-toggle="modal" data-target=".2bd-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Bar Chart
</button>
<button data-toggle="modal" data-target=".2pie-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Pie Chart
</button>
<button data-toggle="modal" data-target=".2line-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Line Chart
</button>
</div>
  </div>




<div class="card">

  <div class="card-header navbar-dark bg-steel">
    <div style="text-align: center; color:white;">Total Number of Accomplished Tasks </div>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">Essential and Non-Essential Tasks Done</h5>
    <p class="card-text" style="text-align: center;">Represented by Graph</p>
    <div class="d-grid gap-2 col-6 mx-auto" >
    <button data-toggle="modal" data-target=".3bd-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Bar Chart
</button>
<button data-toggle="modal" data-target=".3pie-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Pie Chart
</button>
<button data-toggle="modal" data-target=".3line-example-modal-xl" class="btn btn-info rounded-pill bg-steel btn-lg btn-block"><i class="fas fa-eye"></i>
        Line Chart
</button>
</div>
  </div>

<!---------------------GRAPHS------------------------------------------------------->
<!-------->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Bar Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myChart"></canvas>
     </div>
    </div>
  </div>
 
</div>



<!---->


<div class="modal fade pie-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myPie"></canvas>
     </div>
    </div>
  </div>
 
</div>
<!---->


<!---->


<div class="modal fade line-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myLine"></canvas>
     </div>
    </div>
  </div>
 
</div>

<!--------------------Latest Work Time Spent------------------------------------------------------->
<!-------->
<div class="modal fade 2bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Bar Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myChart2"></canvas>
     </div>
    </div>
  </div>
 
</div>



<!---->


<div class="modal fade 2pie-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myPie2"></canvas>
     </div>
    </div>
  </div>
 
</div>
<!---->


<!---->


<div class="modal fade 2line-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myLine2"></canvas>
     </div>
    </div>
  </div>
 
</div>
<!---TOTAL ACCOMPLISHED TASKS-->

<div class="modal fade 3bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Bar Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myChart3"></canvas>
     </div>
    </div>
  </div>
 
</div>



<!---->


<div class="modal fade 3pie-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myPie3"></canvas>
     </div>
    </div>
  </div>
 
</div>
<!---->


<!---->


<div class="modal fade 3line-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalScrollableTitle" style="margin-left:45%">Pie Chart</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
     <canvas id="myLine3"></canvas>
     </div>
    </div>
  </div>
 
</div>
</div>

<!--Total Work Time Spent-->


<script> 
    var total_hour = "{{ total_hour }}"
    var essential_count = "{{ essential }}"
    var nonessential_count = "{{ non_essential }}"
    var essential_hour = "{{ essential_hour }}"
    var nonessential_hour = "{{ non_essential_hour }}"

/**BAR CHART  */
    var myChart = document.getElementById('myChart').getContext('2d');
        //Global Options
    Chart.defaults.font.family = 'Lato';
    Chart.defaults.font.size = 18;
    Chart.defaults.font.color = '#777';
   
    var allChart = new Chart(myChart, {
        type:'bar',//bar, pie chart, line..etc.
        data:{
            labels:['Total Hours Reached: ' + total_hour,'Required Hours: 500'],
            datasets:[{
                label:'Hour Indicator for OJT Worktime',
                data:[
                total_hour,
                500
                ],
                
                backgroundColor:[
                'rgb(100, 149, 237)',
                'rgb(159, 226, 191)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            plugins: {
                                    legend:{
                                        display:true,
                                        position :'top',
                                            labels:{
                                            fontColor:'black'
                                            
                                            }
                                         },
                                         layout:{
                                        padding:{
                                          /**  left:100,
                                            right:100,
                                            bottom:100,
                                            top:0*/
                                        },                                      
                                         },
             title:{
                display:true,
                text:'New Era University On-The-Job Training Required Worktime',
                font:{
                    size:25
                }
        }
        }
            
    }
    });



/**PIE CHART  */

var myPie = document.getElementById('myPie').getContext('2d');
//Global Options
Chart.defaults.font.family = 'Lato';
Chart.defaults.font.size = 18;
Chart.defaults.font.color = '#777';

var allChart = new Chart(myPie, {
type:'pie',//bar, pie chart, line..etc.
data:{
    labels:['Total Hours Reached: ' + total_hour,'Required Hours: 500'],
    datasets:[{
        label:'Hour Indicator for OJT Worktime',
        data:[
        total_hour,
        500
        ],
        
        backgroundColor:[
        'rgb(100, 149, 237)',
        'rgb(159, 226, 191)'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
    }]
},
options:{
    plugins: {
                            legend:{
                                display:true,
                                position :'right',
                                    labels:{
                                    fontColor:'black'
                                    
                                    }
                                 },
                                 layout:{
                                padding:{
                                  /**  left:100,
                                    right:100,
                                    bottom:100,
                                    top:0*/
                                },                                      
                                 },
     title:{
        display:true,
        text:'New Era University On-The-Job Training Required Worktime',
        font:{
            size:25
        }
}
}
    
}
});


/**LINE  */
var myLine = document.getElementById('myLine').getContext('2d');
//Global Options
Chart.defaults.font.family = 'Lato';
Chart.defaults.font.size = 18;
Chart.defaults.font.color = '#777';

var allChart = new Chart(myLine, {
type:'line',//bar, pie chart, line..etc.
data:{
    labels:['Total Hours Reached: ' + total_hour,'Required Hours: 500'],
    datasets:[{
        label:'Hour Indicator for OJT Worktime',
        data:[
        total_hour,
        500
        ],
        
        backgroundColor:[
        'rgb(100, 149, 237)',
        'rgb(159, 226, 191)'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
    }]
},
options:{
    plugins: {
                            legend:{
                                display:true,
                                position :'top',
                                    labels:{
                                    fontColor:'black'
                                    
                                    }
                                 },
                                 layout:{
                                padding:{
                                  /**  left:100,
                                    right:100,
                                    bottom:100,
                                    top:0*/
                                },                                      
                                 },
     title:{
        display:true,
        text:'New Era University On-The-Job Training Required Worktime',
        font:{
            size:25
        }
}
}
    
}
});



</script>

<!--Latest Work Time Spent-->
<script>

  var latest_hour = "{{ latest_hour }}"
  var latest_essential = "{{ latest_essential }}"
  var latest_non_essential = "{{ latest_non_essential }}"
  var latest_essential_hour = "{{ latest_essential_hour }}"
  var latest_non_essential_hour = "{{ latest_non_essential_hour }}"

/**BAR CHART  */
    var myChart2 = document.getElementById('myChart2').getContext('2d');
        //Global Options
    Chart.defaults.font.family = 'Lato';
    Chart.defaults.font.size = 18;
    Chart.defaults.font.color = '#777';
   
    var allChart = new Chart(myChart2, {
        type:'bar',//bar, pie chart, line..etc.
        data:{
            labels:['Essential Tasks','Non-Essential Tasks', 'Essential Hours', 'Non-Essential Hours'],
            datasets:[{
                label:'Hour Indicator for Two Types of Time Spent',
                data:[
                  latest_essential,
                  latest_non_essential,
                  latest_essential_hour,
                  latest_non_essential_hour
                ],
                
                backgroundColor:[
                'rgb(100, 149, 237)',
                'rgb(159, 226, 191)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            plugins: {
                                    legend:{
                                        display:true,
                                        position :'top',
                                            labels:{
                                            fontColor:'black'
                                            
                                            }
                                         },
                                         layout:{
                                        padding:{
                                          /**  left:100,
                                            right:100,
                                            bottom:100,
                                            top:0*/
                                        },                                      
                                         },
             title:{
                display:true,
                text:'Latest Report Summary for OJT',
                font:{
                    size:25
                }
        }
        }
            
    }
    });



/**PIE CHART  */

var myPie2 = document.getElementById('myPie2').getContext('2d');
//Global Options
Chart.defaults.font.family = 'Lato';
Chart.defaults.font.size = 18;
Chart.defaults.font.color = '#777';

var allChart = new Chart(myPie2, {
type:'pie',//bar, pie chart, line..etc.
data:{
    labels:['Essential Tasks','Non-Essential Tasks', 'Essential Hours', 'Non-Essential Hours'],
    datasets:[{
        label:'Hour Indicator for Two Types of Time Spent',
        data:[
          latest_essential,
          latest_non_essential,
          latest_essential_hour,
          latest_non_essential_hour
        ],
        
        backgroundColor:[
          'rgb(100, 149, 237)',
          'rgb(159, 226, 191)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
    }]
},
options:{
    plugins: {
                            legend:{
                                display:true,
                                position :'right',
                                    labels:{
                                    fontColor:'black'
                                    
                                    }
                                 },
                                 layout:{
                                padding:{
                                  /**  left:100,
                                    right:100,
                                    bottom:100,
                                    top:0*/
                                },                                      
                                 },
     title:{
        display:true,
        text:'Latest Report Summary for OJT',
        font:{
            size:25
        }
}
}
    
}
});


/**LINE  */
var myLine2 = document.getElementById('myLine2').getContext('2d');
//Global Options
Chart.defaults.font.family = 'Lato';
Chart.defaults.font.size = 18;
Chart.defaults.font.color = '#777';

var allChart = new Chart(myLine2, {
type:'line',//bar, pie chart, line..etc.
data:{
    labels:['Essential Tasks','Non-Essential Tasks', 'Essential Hours', 'Non-Essential Hours'],
    datasets:[{
        label:'Hour Indicator for Two Types of Time Spent',
        data:[
          latest_essential,
          latest_non_essential,
          latest_essential_hour,
          latest_non_essential_hour
        ],
        
        backgroundColor:[
          'rgb(100, 149, 237)',
          'rgb(159, 226, 191)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
    }]
},
options:{
    plugins: {
                            legend:{
                                display:true,
                                position :'top',
                                    labels:{
                                    fontColor:'black'
                                    
                                    }
                                 },
                                 layout:{
                                padding:{
                                  /**  left:100,
                                    right:100,
                                    bottom:100,
                                    top:0*/
                                },                                      
                                 },
     title:{
        display:true,
        text:'Latest Report Summary for OJT',
        font:{
            size:25
        }
}
}
    
}
});


</script>


<!--Total Number of Accomplished Tasks-->
<script>

    var total_hour = "{{ total_hour }}"
    var essential_count = "{{ essential }}"
    var nonessential_count = "{{ non_essential }}"
    var essential_hour = "{{ essential_hour }}"
    var nonessential_hour = "{{ non_essential_hour }}"
    
/**BAR CHART  */
    var myChart3 = document.getElementById('myChart3').getContext('2d');
        //Global Options
    Chart.defaults.font.family = 'Lato';
    Chart.defaults.font.size = 18;
    Chart.defaults.font.color = '#777';
   
    var allChart = new Chart(myChart3, {
        type:'bar',//bar, pie chart, line..etc.
        data:{
            labels:['Essential Task','Non Essential Task'],
            datasets:[{
                label:'Hour Indicator for Accomplished Tasks',
                data:[
                  essential_hour,
                  nonessential_hour
                ],
                
                backgroundColor:[
                'rgb(100, 149, 237)',
                'rgb(159, 226, 191)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            plugins: {
                                    legend:{
                                        display:true,
                                        position :'top',
                                            labels:{
                                            fontColor:'black'
                                            
                                            }
                                         },
                                         layout:{
                                        padding:{
                                          /**  left:100,
                                            right:100,
                                            bottom:100,
                                            top:0*/
                                        },                                      
                                         },
             title:{
                display:true,
                text:'Total Accomplished Tasks',
                font:{
                    size:25
                }
        }
        }
            
    }
    });



/**PIE CHART  */

   var myPie3 = document.getElementById('myPie3').getContext('2d');
        //Global Options
    Chart.defaults.font.family = 'Lato';
    Chart.defaults.font.size = 18;
    Chart.defaults.font.color = '#777';
   
    var allChart = new Chart(myPie3, {
        type:'pie',//bar, pie chart, line..etc.
        data:{
            labels:['Essential Task','Non Essential Task'],
            datasets:[{
                label:'Hour Indicator for Accomplished Tasks',
                data:[
                  essential_hour,
                  nonessential_hour
                ],
                
                backgroundColor:[
                'rgb(100, 149, 237)',
                'rgb(159, 226, 191)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            plugins: {
                                    legend:{
                                        display:true,
                                        position :'top',
                                            labels:{
                                            fontColor:'black'
                                            
                                            }
                                         },
                                         layout:{
                                        padding:{
                                          /**  left:100,
                                            right:100,
                                            bottom:100,
                                            top:0*/
                                        },                                      
                                         },
             title:{
                display:true,
                text:'Total Accomplished Tasks',
                font:{
                    size:25
                }
        }
        }
            
    }
    });



/**LINE  */
 var myLine3 = document.getElementById('myLine3').getContext('2d');
        //Global Options
    Chart.defaults.font.family = 'Lato';
    Chart.defaults.font.size = 18;
    Chart.defaults.font.color = '#777';
   
    var allChart = new Chart(myLine3, {
        type:'line',//bar, pie chart, line..etc.
        data:{
            labels:['Essential Task','Non Essential Task'],
            datasets:[{
                label:'Hour Indicator for Accomplished Tasks',
                data:[
                  essential_hour,
                  nonessential_hour
                ],
                
                backgroundColor:[
                'rgb(100, 149, 237)',
                'rgb(159, 226, 191)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            plugins: {
                                    legend:{
                                        display:true,
                                        position :'top',
                                            labels:{
                                            fontColor:'black'
                                            
                                            }
                                         },
                                         layout:{
                                        padding:{
                                          /**  left:100,
                                            right:100,
                                            bottom:100,
                                            top:0*/
                                        },                                      
                                         },
             title:{
                display:true,
                text:'Total Accomplished Tasks',
                font:{
                    size:25
                }
        }
        }
            
    }
    });
</script>

{% endblock content %} 
