{% extends "blog/base.html"%}

{% block content %}

<body style= "margin-top:6%">
<h3>Students</h3>
<hr></hr>
{% for student in students %}
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
    
    <span class="float-left">{{ student }}</span>
    <span class="float-right">
      <form action="{% url 'view_student_dashboard' student.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-info bg-steel">View Dashboard</button>
      </form>
    </span>
    </li>
  </ul> 
  {% empty %}
    <h5 class="text-center mt-2">Empty students.</h5>
{% endfor %}
  
</body>
{% endblock content%}